* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    cursor: pointer;
    overflow: hidden;
  }
  body {
    background-color: rgb(115, 110, 210);
    text-align: center;
  }
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .game {
    height: 70vmin;
    width: 80vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
  }
  .box {
    height: 16.5vmin;
    width: 16.5vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(206, 17, 17);
    background-color: #ffc7f0;
  }
  .reset {
    padding: 2vmin;
    font-size: 1.25rem;
    background-color: #191913;
    color:rgb(224, 208, 208);
    border-radius: 1rem;
    border: none;
    margin-top: 20px;
  }
  .newbtn {
    padding: 2vmin;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  .msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  .hide {
    display: none;
  }
  #title{
      color:#191913;
      margin-top: 30px;
      font-style: italic;
      font-size: 40px;
  }
  #title:hover
  {
      border-bottom: 3px solid darkmagenta;
      display: inline-flex;
  }